<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Key slots</h1>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-sm-12">
        <div class="card card-primary card-outline">
          <div class="card-body">
            <div class="row">
              <div class="col-5 col-sm-3">
                <div class="nav flex-column nav-tabs h-100" id="vert-tabs-tab" role="tablist" aria-orientation="vertical">
                  <a class="nav-link" id="{{ item.id }}-tab" data-toggle="pill" href="#{{ item.id }}"
                     role="tab" [ngClass]="{'active': idx == 0}"
                     *ngFor="let item of pageModel.keySlots; let idx = index"
                     attr.aria-controls="{{ item.id }}" aria-selected="false">
                    {{ item.label }}
                  </a>
                </div>
              </div>
              <div class="col-7 col-sm-9">
                <div class="tab-content" id="vert-tabs-tabContent">

                  <div class="tab-pane text-left" [ngClass]="{'active': idx == 0}" id="{{ item.id }}"
                       role="tabpanel"
                       attr.aria-labelledby="{{ item.id }}-tab" *ngFor="let item of pageModel.keySlots; let idx = index">
                    <div class="form-group">
                      <label for="label">Label</label>
                      <input type="text" class="form-control" id="label" [(ngModel)]="item.label"/>
                    </div>
                    <div class="form-group">
                      <label for="content">Content</label>
                      <textarea class="form-control" id="content">{{ item.content }}</textarea>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <button type="button" class="btn btn-block btn-primary btn-flat" (click)="update(item.id)">Update
                        </button>
                      </div>
                      <div class="col-sm-6">
                        <button type="button" class="btn btn-block btn-danger btn-flat" (click)="delete(item.id)">Delete
                        </button>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container-fluid -->
</section>
