<div class="wrapper">
  <app-navbar></app-navbar>
  <app-aside></app-aside>

<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>

<!-- <app-control-sidebar></app-control-sidebar> -->

  <app-footer></app-footer>

</div>




