<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Pending authorizations</h1>
      </div>
    </div>

    <div class="row mb-2" *ngIf="pageModel.pendingAuthorizations.length > 0">
      <div class="col-sm-6" *ngFor="let item of pageModel.pendingAuthorizations; let idx = index">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Request #{{ idx + 1 }}</h3>

            <div class="card-tools"></div>
            <!-- /.card-tools -->
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="alert alert-success alert-dismissible" *ngIf="item.status === 'GRANTED'">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              <h5><i class="icon fas fa-check"></i> Granted!</h5>
              Authorization was granted.
            </div>
            <div class="alert alert-danger alert-dismissible" *ngIf="item.status === 'DENIED'">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              <h5><i class="icon fas fa-check"></i> Denied!</h5>
              Authorization was denied!
            </div>
            <div>
              <p>
                ID: <b>{{ item.id }}</b>
              </p>
              <p>
                Received on: <b>{{ item.received }}</b>
              </p>
              <p>
                From: <b>{{ item.from }}</b>
              </p>
              <p>
                Label: <b>{{ item.label }}</b>
              </p>
              <p>
                Key slot: <b>{{ item.keySlot }}</b>
              </p>
              <p>
                Time left:
                <b><app-countdown-timer [request]="item"
                                        (expired)="onExpired($event)"></app-countdown-timer></b>
              </p>
            </div>
            <div class="row" *ngIf="item.status === 'PENDING'">
              <div class="col-sm-6">
                <button
                  type="button"
                  class="btn btn-block btn-success btn-flat" (click)="authorize(item.id)">
                  Authorize
                </button>
              </div>
              <div class="col-sm-6">
                <button type="button" class="btn btn-block btn-danger btn-flat" (click)="deny(item.id)">
                  Deny/Report
                </button>
              </div>
            </div>
            <div class="row" *ngIf="item.status === 'GRANTED' || item.status === 'DENIED' || item.status === 'EXPIRED'">
              <div class="col-sm-12">
                <button
                  type="button" (click)="dismiss(item.id)"
                  class="btn btn-block btn-primary btn-flat">
                  Dismiss
                </button>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
