<!-- Content Header (Page header) -->    
<section class="content-header">    
  <div class="container-fluid">    
    <div class="row mb-2">    
      <div class="col-sm-6">    
        <h1>Push notifications</h1>    
      </div>    
      <div class="col-sm-6">    
      </div>    
    </div>    
    <div class="row mb-2">    
      <div class="col-sm-6">    
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Push configurations</h3>

                <div class="card-tools">
                </div>
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12" >
                      <div *ngIf="!appConfig.subscribedToPushNotifications && !appConfig.pushNotificationsBlocked">
                        <p>You are not subscribed to push notifications.</p>
                        <p>In order to subscribe you must Allow notifications when asked by the browser.</p>

                        <button type="button" class="btn btn-block btn-primary btn-flat" (click)="subscribeClick()">Subscribe</button>
                      </div>

                      <div *ngIf="appConfig.pushNotificationsBlocked">
                        <p>
                          Notifications are blocked. In order to unblock you must configure your browser and reload
                          the page.
                        </p>
                      </div>
                      <!--
                      <div class="form-group">
                        <label for="endpoint">Endpoint URL:</label>
                        <input type="text" class="form-control" id="endpoint"
                               [(ngModel)]="pageModel.endpointUrl" />
                      </div>
                        <div class="form-group">
                          <label for="p256dhKey">p256dh:</label>
                          <input type="text" class="form-control" id="p256dhKey"
                                 [(ngModel)]="pageModel.p256dhKey" />
                        </div>
                        <div class="form-group">
                          <label for="authKey">auth:</label>
                          <input type="text" class="form-control" id="authKey"
                                 [(ngModel)]="pageModel.authKey" />
                        </div>
                        -->
                  </div>


                  <div class="col-sm-12" *ngIf="appConfig.subscribedToPushNotifications">
                    <p>You're already subscribed to push notifications.</p>
                  </div>

                </div>
              </div>
              <!-- /.card-body -->
            </div>
      </div>
      <div class="col-sm-6">    
      </div>    
    </div>    
  </div><!-- /.container-fluid -->    
</section>    
