<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <!--<div class="user-panel mt-3 pb-3 mb-3 d-flex">-->
        <!--<div class="image">-->
          <!--<img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">-->
        <!--</div>-->
        <!--<div class="info">-->
          <!--<a href="#" class="d-block">Alexander Pierce</a>-->
        <!--</div>-->
      <!--</div>-->

      <!-- SidebarSearch Form -->
      <!--<div class="form-inline">-->
        <!--<div class="input-group" data-widget="sidebar-search">-->
          <!--<input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">-->
          <!--<div class="input-group-append">-->
            <!--<button class="btn btn-sidebar">-->
              <!--<i class="fas fa-search fa-fw"></i>-->
            <!--</button>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item" *ngFor="let item of pageModel.elements">
            <a routerLink="{{ item.url }}" class="nav-link" [ngClass]="item.active ? 'active' : ''">
              <i class="nav-icon" [ngClass]="[item.iconFirstClass, item.iconSecondClass]"></i>
              <p>{{ item.caption }}</p>
            </a>
          </li>






          <!--<li class="nav-item">-->
            <!--<a routerLink="/pending-authorizations" class="nav-link">-->
              <!--<i class="fas fa-user-lock nav-icon"></i>-->
              <!--<p>Pending requests</p>-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="nav-item">-->
            <!--<a routerLink="/requests-history" class="nav-link">-->
              <!--<i class="fas fa-history nav-icon"></i>-->
              <!--<p>Requests history</p>-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="nav-item">-->
            <!--<a routerLink="/keys" class="nav-link">-->
              <!--<i class="fas fa-key nav-icon"></i>-->
              <!--<p>Key slots</p>-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="nav-item">-->
            <!--<a routerLink="/push-notifications" class="nav-link">-->
              <!--<i class="far fa-envelope nav-icon"></i>-->
              <!--<p>Push notifications</p>-->
            <!--</a>-->
          <!--</li>-->
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>




